* {
  font-family: "Josefin Sans", sans-serif;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}
@media (max-width: 760px) {
  html {
    font-size: 56.25%;
  }
}
@media (max-width: 560px) {
  html {
    font-size: 50%;
  }
}

.card-img, .card-overlay {
  width: 100%;
  height: 100%;
}

.container {
  display: grid;
  grid-template-columns: minmax(6rem, 1fr) repeat(8, minmax(min-content, 16rem)) minmax(6rem, 1fr);
  grid-template-rows: repeat(4, min-content);
  grid-row-gap: 1.6rem;
  background-color: #f2f0f1;
}

.header {
  grid-column: 1/-1;
  grid-row: 1/2;
  display: grid;
  grid-template-columns: minmax(10rem, 1fr) repeat(7, minmax(min-content, 16rem)) minmax(10rem, 1fr);
  grid-template-rows: repeat(3, min-content);
  grid-gap: 2rem;
  z-index: 100;
}

.first-nav {
  grid-column: 7/10;
  grid-row: 1/2;
}
.first-nav-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}
.first-nav-item {
  list-style: none;
}
.first-nav-link {
  color: #333;
  text-decoration: none;
  font-size: 1.8rem;
  transition: all 0.3s;
}
.first-nav-link:hover {
  color: #999999;
}
@media (max-width: 1200px) {
  .first-nav {
    grid-column: 6/10;
  }
}
@media (max-width: 1000px) {
  .first-nav {
    grid-column: 5/10;
  }
}
@media (max-width: 760px) {
  .first-nav {
    grid-column: 4/10;
  }
}
@media (max-width: 560px) {
  .first-nav {
    grid-column: 2/10;
  }
}

.second-nav {
  grid-column: 3/8;
  grid-row: 3/4;
}
.second-nav-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}
.second-nav-item {
  list-style: none;
}
.second-nav-link {
  color: #333;
  text-decoration: none;
  font-size: 1.8rem;
  transition: all 0.3s;
}
.second-nav-link:hover {
  color: #999999;
}
@media (max-width: 1000px) {
  .second-nav {
    grid-column: 2/9;
  }
}
@media (max-width: 760px) {
  .second-nav {
    grid-column: 1/-1;
  }
}

.presenter {
  grid-column: 1/-1;
}
.presenter-heading {
  margin: 5rem 0;
}
.presenter-heading-text {
  font-family: "General Sans", sans-serif;
  text-align: center;
  font-size: 4.5rem;
  font-weight: 600;
  color: #003719;
}
.presenter-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.presenter-wrapper-block {
  display: block;
}

.element {
  position: relative;
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: 4rem;
  /* &-description {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-color: transparentize(color(secondary), .4);
      padding: 2rem;
      border: .1rem solid color(primary);
      border-radius: .5rem;
      color: color(primary);
      text-align: center;
      opacity: 0;
      visibility: hidden;
      transition: all 1s .5s;
  } */
}
.element.split {
  display: inline-flex;
  width: 80%;
  justify-content: space-between;
}
.element-left, .element-right {
  max-width: 48%;
}
.element.double {
  display: grid;
  max-width: 100%;
  justify-content: center;
}
.element.double .row {
  display: flex;
  margin: 1rem;
  text-align: center;
  text-align: -webkit-center;
}
.element.double .row .col {
  flex: auto;
}
.element.double .mini-icon {
  max-width: 50px;
  border-radius: 50%;
  margin-bottom: 0.5rem;
}
.element.double .mini-icon-name {
  font-size: 1.6rem;
}
.element img {
  max-width: 100%;
  border-radius: 14px;
}
.element-header, .element-xl-header {
  color: #003719;
}
.element-xl-header {
  font-size: 4rem;
  margin-bottom: 2rem;
}
@media (max-width: 1000px) {
  .element-xl-header {
    font-size: 2.5rem;
    margin-bottom: 2rem;
  }
}
@media (max-width: 560px) {
  .element-xl-header {
    font-size: 2rem;
    margin-bottom: 0;
  }
}
.element-header {
  font-size: 2.5rem;
  margin-bottom: 0.5rem;
}
@media (max-width: 1000px) {
  .element-header {
    font-size: 1.8rem;
    margin-bottom: 0;
  }
}
@media (max-width: 560px) {
  .element-header {
    font-size: 1.6rem;
  }
}
.element-text {
  font-size: 2rem;
}
@media (max-width: 760px) {
  .element-text {
    font-size: 1.8rem;
  }
}
@media (max-width: 560px) {
  .element-text {
    font-size: 1.6rem;
  }
}

.badge {
  background-color: #343434;
  color: #ffe;
  padding: 4px 8px;
  text-align: center;
  border-radius: 5px;
}
.badge:hover {
  background-color: red;
}

.gallery {
  grid-column: 1/-1;
}
.gallery .cards-wrapper {
  display: flex;
  flex-wrap: wrap;
  place-content: space-around;
}

.footer {
  grid-column: 1/-1;
  grid-row: 4/5;
  background-color: #343434;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 5rem 0;
  border-top: 0.1rem solid #333;
}
@media (max-width: 1000px) {
  .footer {
    flex-wrap: wrap;
  }
}

.footer-nav-heading {
  font-size: 2.5rem;
  color: #ffe;
}
.footer-nav-item {
  list-style: none;
  margin: 1rem 0;
}
.footer-nav-link {
  font-size: 1.6rem;
  text-decoration: none;
  color: #595959;
  transition: color 0.2s;
}
.footer-nav-link:hover {
  color: #8c8c8c;
}
.footer-nav-logo {
  width: 150px;
}

.contact-list-heading {
  font-size: 2.5rem;
  color: #ffe;
}
.contact-list-item {
  list-style: none;
  margin: 1rem 0;
}
.contact-list-link {
  font-size: 1.6rem;
  text-decoration: none;
  color: #595959;
  transition: color 0.2s;
}
.contact-list-link:hover {
  color: #8c8c8c;
}
.contact-list p {
  font-size: 1.6rem;
  color: #ffe;
}

@media (max-width: 1000px) {
  .contact {
    padding: 0 10rem;
    order: 1;
    margin-top: 4rem;
  }
}
.contact-heading {
  font-size: 3rem;
  color: #ffe;
  text-align: center;
}
@media (max-width: 760px) {
  .contact-heading {
    font-size: 2.5rem;
  }
}
.contact-paragraph {
  font-size: 2.5rem;
  color: #ffe;
  margin: 1rem 0;
  text-align: center;
}
@media (max-width: 760px) {
  .contact-paragraph {
    font-size: 2rem;
  }
}
.contact .inputs-group {
  display: flex;
  justify-content: center;
}
.contact .inputs-group input {
  padding: 1rem;
  font-size: 1.6rem;
  margin: 1rem 0.5rem;
  border: 0.1rem solid #1a1a1a;
  border-radius: 0.3rem;
  outline: none;
  transition: border 0.5s;
}
.contact .inputs-group input:focus:not([type=submit]) {
  border: 0.1rem solid #9c0909;
}
.contact .inputs-group-text {
  width: 50%;
}
.contact .inputs-group-email {
  width: 60%;
}
.contact .inputs-group-btn {
  width: 40%;
  color: #ffe;
  background-color: #666666;
  transition: background-color 0.2s;
}
.contact .inputs-group-btn:hover {
  background-color: #333;
}
.contact .social-icons {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  box-sizing: border-box;
}
.contact .social-icons-item {
  list-style: none;
}
.contact .social-icons-link {
  text-decoration: none;
  width: 4rem;
  height: 4rem;
  border: 0.1rem solid #333;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 560px) {
  .contact .social-icons-link {
    width: 3rem;
    height: 3rem;
  }
}
.contact .social-icons-link i {
  font-size: 2rem;
}
@media (max-width: 560px) {
  .contact .social-icons-link i {
    font-size: 1.8rem;
  }
}

.social-icons-item:nth-child(1) .social-icons-link {
  color: #3b5998;
  border: 0.1rem solid #3b5998;
}

.social-icons-item:nth-child(2) .social-icons-link {
  color: #b31217;
  border: 0.1rem solid #b31217;
}

.social-icons-item:nth-child(3) .social-icons-link {
  color: #55acee;
  border: 0.1rem solid #55acee;
}

.social-icons-item:nth-child(4) .social-icons-link {
  color: #0077b5;
  border: 0.1rem solid #0077b5;
}

.logo {
  grid-column: 1/2;
  grid-row: 1/2;
  padding: 1rem;
}
.logo-img {
  width: 10rem;
  height: 100%;
}

.heading {
  grid-column: 1/-1;
  grid-row: 2/3;
  text-align: center;
}
.heading-text {
  color: #003719;
  font-family: "Rowdies", sans-serif;
  font-size: 6rem;
  font-weight: lighter;
  letter-spacing: 0.5rem;
}

.dropdown-li {
  position: relative;
}
.dropdown-li::after {
  font-family: "Font Awesome 5 Free";
  content: "\f078";
  font-weight: bold;
}
.dropdown-li:hover .dropdown {
  visibility: visible;
  opacity: 1;
}

.dropdown {
  position: absolute;
  top: 3rem;
  right: -2.8rem;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #e6e2e4;
  padding: 1rem;
  text-align: center;
  border-radius: 0.2rem;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s;
}
.dropdown-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
}
.dropdown-item {
  list-style: none;
}
.dropdown-link {
  color: #333;
  text-decoration: none;
  font-size: 1.8rem;
  transition: all 0.3s;
}
.dropdown-link:hover {
  color: #999999;
}
.dropdown::before {
  content: "";
  display: block;
  position: absolute;
  top: -1.5rem;
  left: 7.3rem;
  border-right: 15px solid transparent;
  border-bottom: 15px solid #e6e2e4;
  border-left: 15px solid transparent;
}
.dropdown-item {
  margin: 0.5rem 0;
}
.dropdown-link {
  font-weight: 300;
  font-size: 1.6rem;
}

.card {
  width: calc(33.3333333333% - 40px);
  height: 25vw;
  position: relative;
  overflow: hidden;
}
.card:hover .card-overlay {
  left: 0;
}
.card-overlay {
  position: absolute;
  top: 0;
  left: -100%;
  background-color: rgba(52, 52, 52, 0.6);
  color: #ffe;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: left 0.7s;
}
.card-overlay-heading {
  font-family: "Nunito", sans-serif;
  font-size: 50px;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: capitalize;
}
@media (max-width: 900px) {
  .card-overlay-heading {
    font-size: 35px;
  }
}
@media (max-width: 650px) {
  .card-overlay-heading {
    font-size: 25px;
  }
}
@media (max-width: 500px) {
  .card-overlay-heading {
    display: none;
  }
}
.card-overlay-paragraph {
  font-family: "Josefin Sans", sans-serif;
  font-size: 30px;
  margin-bottom: 30px;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: capitalize;
}
@media (max-width: 900px) {
  .card-overlay-paragraph {
    font-size: 20px;
  }
}
@media (max-width: 650px) {
  .card-overlay-paragraph {
    font-size: 15px;
  }
}
@media (max-width: 500px) {
  .card-overlay-paragraph {
    display: none;
  }
}
.card-overlay-btn {
  width: 150px;
  height: 40px;
  color: #f54949;
  background-color: #ffe;
  font-family: "Josefin Sans", sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: 1px solid #f54949;
  border-radius: 30px;
  outline: none;
  cursor: pointer;
}
@media (max-width: 900px) {
  .card-overlay-btn {
    font-size: 12px;
    width: 130px;
    height: 30px;
  }
}
@media (max-width: 650px) {
  .card-overlay-btn {
    font-size: 10px;
    width: 100px;
    height: 30px;
  }
}
.card-img {
  -o-object-fit: cover;
     object-fit: cover;
  opacity: 0.5;
}

.btn {
  width: 16rem;
  height: 4rem;
  text-decoration: none;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.btn:hover .btn-bg {
  width: 18rem;
}
.btn:hover .btn-text {
  color: #ffe;
}
.btn:hover .arrow {
  transform: translateX(1rem);
}
.btn:hover .arrow-line-1 {
  width: 2rem;
}
.btn-bg {
  width: 4rem;
  height: 4rem;
  background-color: #333;
  border-radius: 5rem;
  position: absolute;
  left: 0;
  transition: width 0.2s;
}
.btn-text {
  font-size: 1.6rem;
  text-transform: uppercase;
  color: #333;
  z-index: 10;
}
.btn .arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.2s;
}
.btn .arrow-line {
  height: 0.2rem;
  background-color: #ffe;
  position: absolute;
  transform-origin: right;
}
.btn .arrow-line-1 {
  width: 0;
  transform: translateX(-0.7rem);
  transition: width 0.2s;
}
.btn .arrow-line-2 {
  width: 1rem;
  transform: rotateZ(45deg);
}
.btn .arrow-line-3 {
  width: 1rem;
  transform: rotateZ(-45deg);
}/*# sourceMappingURL=products.css.map */