.presenter {
    grid-column: 1 / -1;
    //grid-row: 3 / 4;

    &-heading {
        margin: 5rem 0;

        &-text {
            font-family: "General Sans", sans-serif;
            text-align: center;
            font-size: size(lg) + 2rem;
            font-weight: 600;
            color: color(senary);
        }
    }

    &-wrapper {
        @include flexPosition;
        flex-wrap: wrap;
    }

    &-wrapper-block {
        display: block;
    }
}

.element {
    position: relative;
    height: fit-content;
    margin-bottom: 4rem;

    &.split {
        display: inline-flex;
        width: 80%;
        justify-content: space-between;
    }

    &-left,
    &-right {
        max-width: 48%;
    }

    &.double {
        display: grid;
        max-width: 100%;
        justify-content: center;

        .row {
            display: flex;
            margin: 1rem;
            text-align: center;
            text-align: -webkit-center;

            .col {
                flex: auto;
            }
        }

        .mini-icon {
            max-width: 50px;
            border-radius: 50%;
            margin-bottom: .5rem;
        }

        .mini-icon-name {
            font-size: size(xs);
        }
    }

    & img {
        max-width: 100%;
        border-radius: 14px;
    }

    &-header,
    &-xl-header {
        color: color(senary);
    }

    &-xl-header {
        font-size: size(xl) + 1rem;
        margin-bottom: 2rem;

        @include response(lg) {
            font-size: size(lg);
            margin-bottom: 2rem;
        }

        @include response(sm) {
            font-size: size(md);
            margin-bottom: 0;
        }
    }

    &-header {
        font-size: size(lg);
        margin-bottom: 0.5rem;

        @include response(lg) {
            font-size: size(sm);
            margin-bottom: 0;
        }

        @include response(sm) {
            font-size: size(xs);
        }
    }

    &-text {
        font-size: size(md);

        @include response(md) {
            font-size: size(sm);
        }

        @include response(sm) {
            font-size: size(xs);
        }
    }

    /* &-description {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: transparentize(color(secondary), .4);
        padding: 2rem;
        border: .1rem solid color(primary);
        border-radius: .5rem;
        color: color(primary);
        text-align: center;
        opacity: 0;
        visibility: hidden;
        transition: all 1s .5s;
    } */
}

.badge {
    background-color: color(quinary);
    color: color(secondary);
    padding: 4px 8px;
    text-align: center;
    border-radius: 5px;

    &:hover {
        background-color: red;
    }
}